.btn-default .caret {
    width:0;
    height:0;
    border-width:5px 5px 0;
    border-style:solid;
    border-color:#333 transparent transparent;/*灰 透明 透明 */
    margin:40px auto;
    position:relative;
}

.adapt-dialog {
	margin-left: 0px;
}

.align-center {
	padding-top: 8px;
}

.shop-list,.col-xs-7 {
    width: 90%;
}

.col-sm-6 {
    width: 100%;
}

.col-xs-4 {
    width: 10%;
}

.shop-tpl {
    width: 8%;
}

.col-lg-7 {
    width: 80.3333%;
}