.content{ top: -1px; z-index: 999; }
.content-wrap{ border-top: 1px solid #ff6400; background-color: #ededed; padding-bottom: 40px; padding-top: 20px; }

/*板块顶部文字样式*/
.tit-tips{ position: absolute; top: 0; left: 0; width: 106px; height: 46px; line-height: 46px; color: #ff6400; font-size: 14px; text-align: center; font-weight: bold; border-top: 1px solid #ff6400; }


/*左侧导航*/
.content-wrap .content .record-wrap .record-nav{ width: 85px; height: 492px; padding: 22px 43px 22px 31px; background: #fff; }
.content-wrap .content .record-wrap .record-nav .my-order,.content-wrap .content .record-wrap .record-nav .account-center{ padding-bottom: 10px; border-bottom: 1px solid #e6e6e6; }
.content-wrap .content .record-wrap .record-nav .my-order,.content-wrap .content .record-wrap .record-nav .account-center,.content-wrap .content .record-wrap .record-nav .customer-serve{ padding-left: 10px; }
.content-wrap .content .record-wrap .record-nav .account-center,.content-wrap .content .record-wrap .record-nav .customer-serve{ padding-top: 10px; }
.content-wrap .content .record-wrap .record-nav h1{ color: #4c4c4c; line-height: 2; }
.content-wrap .content .record-wrap .record-nav ul li{ float: none; }
.content-wrap .content .record-wrap .record-nav ul li a{ height: 28px; line-height: 28px; font-size: 12px; }
.content-wrap .content .record-wrap .record-nav ul li.active a{ color: #ff6400; }

/*修改密码表单*/
.content-wrap .content .record-wrap .account-info{ width: 1040px; height: 490px; padding-top: 46px; background-color: #fff; font-size: 12px; }
.content-wrap .content .record-wrap .account-info .account-wrap{ padding: 30px; border-top: 1px solid #e6e6e6; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item{ height: 37px; margin-bottom: 21px; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item.account{ height: 20px; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item.shop-name{ height: 20px; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item label{ position: relative; display: inline-block; height: 37px; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item span.item-tit{ display: inline-block; width: 70px; text-align: right; margin-right: 22px; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item span.item-tit i{ margin-right: 3px; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item input{ width: 148px; padding: 0 10px; height: 35px; border: 1px solid #e6e6e6; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item input:focus{ border: 1px solid #ff6400; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item.addr-detail input{ width: 370px; }
.content-wrap .content .record-wrap .account-info .account-wrap .account-item select{ width: 68px; height: 35px; padding-left: 10px; border: 1px solid #e6e6e6; outline: none; }

.content-wrap .content .record-wrap .account-info .account-wrap .btn-submit{ padding-left: 98px; }
.content-wrap .content .record-wrap .account-info .account-wrap .btn-submit input{ width: 140px; height: 36px;  background-color: #ff6400; border: none; color: #fff; font-weight: bold; }

