.content{ top: -1px; z-index: 999; }
.content-wrap{ border-top: 1px solid #ff6400; background-color: #ededed; padding-bottom: 40px; padding-top: 20px; }

/*板块顶部文字样式*/
.tit-tips{ position: absolute; top: 0; left: 0; width: 106px; height: 46px; line-height: 46px; color: #ff6400; font-size: 14px; text-align: center; font-weight: bold; border-top: 1px solid #ff6400; }


/*左侧导航*/
.content-wrap .content .record-wrap .record-nav{ width: 85px; height: 492px; padding: 22px 43px 22px 31px; background: #fff; }
.content-wrap .content .record-wrap .record-nav .my-order,.content-wrap .content .record-wrap .record-nav .account-center{ padding-bottom: 10px; border-bottom: 1px solid #e6e6e6; }
.content-wrap .content .record-wrap .record-nav .my-order,.content-wrap .content .record-wrap .record-nav .account-center,.content-wrap .content .record-wrap .record-nav .customer-serve{ padding-left: 10px; }
.content-wrap .content .record-wrap .record-nav .account-center,.content-wrap .content .record-wrap .record-nav .customer-serve{ padding-top: 10px; }
.content-wrap .content .record-wrap .record-nav h1{ color: #4c4c4c; line-height: 2; }
.content-wrap .content .record-wrap .record-nav ul li{ float: none; }
.content-wrap .content .record-wrap .record-nav ul li a{ height: 28px; line-height: 28px; font-size: 12px; }
.content-wrap .content .record-wrap .record-nav ul li.active a{ color: #ff6400; }

/*地址列表*/
.content-wrap .content .record-wrap .ship-address{ width: 1040px; height: 490px; padding-top: 46px; background-color: #fff; font-size: 12px; }
.content-wrap .content .record-wrap .ship-address .ship-wrap{ padding: 30px; border-top: 1px solid #e6e6e6; }

.content-wrap .content .record-wrap .ship-address .ship-wrap .addr-item{ height: 30px; line-height: 30px; margin-bottom: 21px; }
.content-wrap .content .record-wrap .ship-address .ship-wrap .addr-item .btn-radio{ margin-right: 10px; }
.content-wrap .content .record-wrap .ship-address .ship-wrap .addr-item .addr-info .addr{ margin: 0 8px; }
.content-wrap .content .record-wrap .ship-address .ship-wrap .addr-item .btn-wrap{ width: 166px; }
.content-wrap .content .record-wrap .ship-address .ship-wrap .addr-item .btn-wrap a{ color: #0078d6; margin-right: 20px; }
.content-wrap .content .record-wrap .ship-address .ship-wrap .addr-item .btn-wrap a:last-child{ margin-right: 0; }

.content-wrap .content .record-wrap .ship-address .ship-wrap .icon-default{ width: 54px; height: 24px; text-align: center; line-height: 24px; color: #fff; background-color: #ff6400; margin-left: 10px; margin-top: 3px; }
.content-wrap .content .record-wrap .ship-address .ship-wrap .btn-add input{ width: 140px; height: 36px;  background-color: #ff6400; border: none; color: #fff; font-weight: bold; cursor: pointer; }



/*自定义 radio*/
.radio-wrap{ width: 144px; height: 30px; margin-right: 8px; }
.radio-wrap .radio{ opacity: 0; position: absolute; z-index: 12; width: 144px; height: 30px; cursor: pointer; }
.radio-wrap .radio-bg{ position: absolute; z-index: 11; display: block; margin: 0; width: 142px; height: 28px; line-height: 28px; border: 1px solid #e6e6e6; font-weight: normal; text-align: center; line-height: 28px; }
.radio-wrap input[checked=checked] + span.radio-bg{ display: block; width: 140px; height: 26px; line-height: 26px; border: 2px solid #ff6400; background: url(../images/icon-radio.png) right bottom no-repeat; }


/*修改地址弹窗*/
.alert-box{ position: fixed; z-index: 9999999; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); }
.alert-box .alert-dialog{ position: absolute; top: 50%; left: 50%; margin-top: -173.5px; margin-left: -283px; width: 566px; height: 347px; background: #fff; }
.alert-box .alert-dialog .alert-header{ height: 44px; background-color: #ff6400; line-height: 44px; color: #fff; }
.alert-box .alert-dialog .alert-header h1{ padding-left: 16px; }
.alert-box .alert-dialog .alert-header h1 span{ font-size: 12px; }
.alert-box .alert-dialog .alert-header .btn-close{ position: absolute; top: 16px; right: 16px; display: block; width: 12px; height: 12px; }

.alert-box .alert-dialog .alert-body{ padding: 20px 60px 0; font-size: 12px; }
.alert-box .alert-dialog .alert-body form p{ margin-bottom: 12px; }
.alert-box .alert-dialog .alert-body form p span.tit{ display: inline-block; width: 75px; }
.alert-box .alert-dialog .alert-body form p span.select{ margin-left: -6px; }
.alert-box .alert-dialog .alert-body form p span.select select{ width: 68px; height: 26px; border: 1px solid #e6e6e6; outline: none; padding-left: 6px; }
.alert-box .alert-dialog .alert-body form p input[type=text]{ width: 148px; height: 26px; border: 1px solid #e6e6e6; padding: 0 10px; }
.alert-box .alert-dialog .alert-body form p.address input[type=text]{ width: 348px; }
.alert-box .alert-dialog .alert-body form .set-addr{ line-height: 1.2; margin: 20px 0; padding-left: 75px; }
.alert-box .alert-dialog .alert-body form p.btn-submit{ padding-left: 75px; }
.alert-box .alert-dialog .alert-body form p.btn-submit input{ width: 125px; height: 36px; border: none; background-color: #ff6400; color: #fff; font-size: 14px; font-weight: bold; }


/*删除弹窗*/
.delete-address .alert-dialog{ margin-top: -88px; margin-left: -205px; width: 410px; height: 176px; }
.delete-address .alert-dialog .txt{ width: 146px; height: 36px; line-height: 36px; margin: 0 auto; }
.delete-address .alert-dialog .txt .warm-img{ margin-right: 10px; }
.delete-address .alert-dialog .btn-wrap{ text-align: center; margin-top: 20px; }
.delete-address .alert-dialog .btn-wrap input{ width: 100px; height: 36px; border: none; background-color: #ff6400; color: #fff; font-weight: bold; cursor: pointer; }
.delete-address .alert-dialog .btn-wrap input.btn-ok{ margin-right: 15px; }
.delete-address .alert-dialog .btn-wrap input.btn-cancel{ background-color: #f5f5f5; color: #666; }