.adcontract{ border: 1px solid #e5e5e5; background-color: #fff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 40px 38px; font-size: 14px; }
.adcontract form p:last-child{ margin-top: 20px; text-align: center; }
.adcontract form p:last-child label input:first-child{ margin-right: 50px; }
.adcontract form input[type="text"]{ height: 38px; }
.adcontract form input[type="text"],.adcontract form textarea{ width: 100%; }
.adcontract form textarea{ resize: none; }
.adcontract form input[type="button"]{ padding: 8px 15px; color: #fff; background-color: #ff6400; text-align: center; float: none; max-width: 180px; outline: none; }

.adcontract form small label{ position: relative; }
.adcontract form small>span,.adcontract form small>span>span{ padding: 0; font-size: 14px; line-height: 40px; }
.adcontract form .checked-wrap{ position: relative; top: 3px; }
.adcontract form .postion-pc{ margin-right: 30px; }
.adcontract form .txt-limt{ position: absolute; bottom: 0; right: 6px; }

.adcontract form p.ad-tips{ color: #959595; }
.adcontract form .second-input>span{ margin-left: 8.33333333%; }

/*自定义下拉框*/
.adcontract form div.row{ margin-bottom: 13px; }
.adcontract form a.dropdown-btn{ position: relative; height: 38px; line-height: 28px; padding: 5px 12px; padding-right: 25px; text-decoration: none; }
.adcontract form a.dropdown-btn:focus{ color: #505050; }
.adcontract form a.dropdown-btn:hover{ color: #505050; }
.adcontract form span.input-tips{ line-height: 40px; }
.adcontract form span.dr{ position: absolute; display: block; width: 38px; height: 38px; top: 50%; margin-top: -19px; right: 0; background: #e5e5e5; }
.adcontract form span.dr img{ position: absolute; top: 50%; left: 50%; margin-top: -3.5px; margin-left: -6px; display: block; width: 12px; height: 7px; }
.adcontract form .dropdown-menu li{ text-align: left; padding: 0 12px; }

/*上传框*/
.pic-wrap .pic-box{ position: relative; display: inline-block; width: 170px; height: 170px; margin: 0; }
.pic-wrap .tips-txt{ display: inline-block; height: 170px; line-height: 170px; }
.pic-wrap .pic-box img{ display: block; width: 44px; height: 44px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.pic-wrap .pic-box input{ position: absolute; z-index: 999; top: 0; width: 100%; height: 100%; filter:alpha(opacity=0); -moz-opacity:0;  -khtml-opacity:0; opacity: 0; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{ padding: 0; }

.border-radius{ border-radius: 2px !important; -webkit-border-radius: 2px !important; -moz-border-radius: 2px !important; }

@media only screen and (max-width: 767px) {
	.adcontract{ padding-left: 22px !important; padding-right: 22px !important; }
	.adcontract form input[type="button"]{ width: 37%; }
	.adcontract form p:last-child label input:first-child{ margin-right: 20%; }
	.adcontract form .second-input>span{ margin-left: 0; }
	.adcontract form .second-input{ margin-top: 15px; }
}

.asterisk{color: #ff6400;}