.appVersion{ border: 1px solid #e5e5e5; background-color: #fff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 40px 38px; font-size: 14px; }
.appVersion form p:last-child{ margin-top: 20px; text-align: center; }
.appVersion form p:last-child label input:first-child{ margin-right: 50px; }
.appVersion form input[type="text"]{ height: 38px; }
.appVersion form input[type="text"],.appVersion form textarea{ width: 100%; }
.appVersion form textarea{ resize: none; }
.appVersion form input[type="button"]{ padding: 8px 15px; color: #fff; background-color: #ff6400; text-align: center; float: none; max-width: 180px; outline: none; }

.appVersion form small label{ position: relative; }
.appVersion form small>span,.appVersion form small>span>span{ padding: 0; font-size: 14px; line-height: 40px; }
.appVersion form .checked-wrap{ position: relative; top: 3px; }
.appVersion form .postion-pc{ margin-right: 30px; }
.appVersion form .txt-limt{ position: absolute; bottom: 0; right: 6px; }

/*自定义下拉框*/
.appVersion form div.row{ margin-bottom: 13px; }
.appVersion form a.dropdown-btn{ position: relative; height: 38px; line-height: 28px; padding: 5px 12px; padding-right: 25px; text-decoration: none; }
.appVersion form a.dropdown-btn:focus{ color: #505050; }
.appVersion form a.dropdown-btn:hover{ color: #505050; }
.appVersion form span.input-tips{ line-height: 40px; }
.appVersion form span.dr{ position: absolute; display: block; width: 38px; height: 38px; top: 50%; margin-top: -19px; right: 0; background: #e5e5e5; } 
.appVersion form span.dr img{ position: absolute; top: 50%; left: 50%; margin-top: -3.5px; margin-left: -6px; display: block; width: 12px; }
.appVersion form .dropdown-menu li{ text-align: left; padding: 0 12px; }
.appVersion form span.item-name{ display: inline-block; width: 100%; border: none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/*上传框*/
.pic-wrap .pic-box{ position: relative; display: inline-block; width: 170px; height: 170px; margin: 0; }
.pic-wrap .tips-txt{ display: inline-block; height: 170px; line-height: 170px; }
.pic-wrap .pic-box img{ display: block;  position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.pic-wrap .pic-box input{ position: absolute; z-index: 999; top: 0; width: 100%; height: 100%; filter:alpha(opacity=0); -moz-opacity:0;  -khtml-opacity:0; opacity: 0; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{ padding: 0; }

.border-radius{ border-radius: 2px !important; -webkit-border-radius: 2px !important; -moz-border-radius: 2px !important; }

/*选择样式*/
.dropdown-wrap .select-wrap{ position: relative; }
.dropdown-wrap .select-wrap input[disabled]{ color: #505050!important; background-color: #f2f2f2!important; border: 1px solid #e5e5e5; }
.dropdown-wrap .select-wrap input[type="text"]{ border: 1px solid #e5e5e5; }
.dropdown-wrap .select-wrap span.dr{ cursor: pointer; }
.dropdown-wrap .select-wrap span.dr img{ margin-top: -6px; }

.upload-file{ width: 190px; height: 40px; line-height: 40px; text-align: center; position: relative; }
 .upload-file input{ width: 100%; height: 100%; position: relative; z-index: 9999; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
 .upload-file span{ display: block; width: 100%; height: 100%; position: absolute; top: 0; background: url(../images/add-man.png); color: #ff6400; }
 .upload-file span i.add-icon{ margin-right: 2%; }
 .upload-file span i.add-icon:before{ content: ""; display: inline-block; width: 15px; height: 15px; background: url(../images/add-icon.png) no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%; position: relative; top: 2px; }


@media only screen and (max-width: 767px) {
	.appVersion{ padding-left: 22px !important; padding-right: 22px !important; }
	.appVersion form input[type="button"]{ width: 37%; }
	.appVersion form p:last-child label input:first-child{ margin-right: 20%; }
}