.page-content .table-box table tbody tr td:nth-child(1){ width: auto !important; text-align: left; padding-left: 32px; }
.table thead:first-child tr:first-child th:first-child{ padding-left: 32px; }

.batch{ float: left; padding-left: 23px; }
.batch label{ margin: 0; margin-left: 10px; }
.batch label input{ height: 40px; padding-left: 20px; padding-right: 20px; }
.batch label:nth-child(1){ margin: 0; }
.batch label:nth-child(1) input[type=checkbox]{ width: 90px !important; }
.batch label:nth-child(1) input{ margin-right: 8px; }
.batch label:nth-child(2) input,.batch label:nth-child(3) input{ background-color: #ff6400 !important; color: #fff; }

.filter-wrap{ margin-left: 0; margin-bottom: 0; margin-right: 0; padding: 12px 32px; }
.filter-wrap label{ padding: 0; margin: 0; width: 47%; color: #505050; }
.filter-wrap>span{ position: relative; top: -1px; }
.filter-wrap label .filter{ -webkit-appearance: none; position: relative; left: -15px; height: 38px; line-height: 38px; width: 97%; border-radius: 2px !important; -webkit-border-radius: 2px !important; -moz-border-radius: 2px !important; border: 1px solid #e5e5e5; padding-left: 40px; }
.filter-wrap .icon-search{ font-size: 18px; position: relative; left: 13px; z-index: 990; }
.filter-wrap .icon-search::before{ content: ""; display: block; position: relative; top: 2px; width: 15px; height: 15px; background: url(../images/search.png) no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.filter-wrap .add-message{ float: right; font-weight: bold; width: 190px; height: 40px; line-height: 40px; text-align: center; text-decoration: none; color: #ff6400; background-size: 100% 100%; -webkit-background-size: 100% 100%; background: url(../images/add-man.png) no-repeat; }
.filter-wrap .add-message a{ color: #ff6400; text-decoration: none; }
.filter-wrap .add-message i{ margin-right: 2%; }
.filter-wrap .add-message i.add-icon::before{ content: ""; display: inline-block; width: 15px; height: 15px; background: url(../images/add-icon.png) no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%; position: relative; top: 2px; }

.filter-wrap .filter-select{ width: 18%; margin: 0 10px;}
.filter-wrap .dropdown-btn{ border-radius: 2px !important; -moz-border-radius: 2px !important; -webkit-border-radius: 2px !important; }

/*自定义下拉框*/
.filter-wrap div.row{ margin-bottom: 13px; }
.filter-wrap a.dropdown-btn{ position: relative; height: 38px; line-height: 28px; padding: 5px 12px; padding-right: 25px; text-decoration: none; }
.filter-wrap a.dropdown-btn:focus{ color: #505050; }
.filter-wrap a.dropdown-btn:hover{ color: #505050; }
.filter-wrap span.input-tips{ line-height: 40px; }
.filter-wrap span.dr{ position: absolute; display: block; width: 38px; height: 38px; top: 50%; margin-top: -19px; right: 0; background: #e5e5e5; }
.filter-wrap span.dr img{ position: absolute; top: 50%; left: 50%; margin-top: -3.5px; margin-left: -6px; display: block; width: 12px; height: 7px; }
.filter-wrap .dropdown-menu li{ text-align: left; padding: 0 12px; }

/*radio*/
.edit-box .checked-wrap{ position: relative; width:18px; height: 18px; top: 5px; }
.edit-box .chk-bg{ position: relative; z-index: 11; display: inline-block; margin: 0; line-height: 20px; min-height: 18px; min-width: 18px; font-weight: normal; margin: 0; }
.edit-box .chk-radio{ opacity: 0; position: absolute; z-index: 12; width: 18px; height: 18px !important; cursor: pointer; margin-top: 0; }
.edit-box .chk-bg::before{ content: ""; display: block; height: 18px; width: 18px; background: url(../images/radio-default.png); }
.edit-box .chk-radio[checked=checked] + .chk-bg::before{ content: ""; display: block; height: 18px; width: 18px; background: url(../images/radio-cheched.png); }
.edit-box label label{ width: auto; margin-right: 10px; }
.edit-box label label i{ font-style: normal; }


.pagination { float: right; }
.state{ position: relative; top: -2px; margin-right: 4px; }

.table tbody td.star-wrap ul{list-style: none !important;width: 135px;}
.table tbody td.star-wrap ul li{width: 17px; height: 17px;background-image: url(../../assets/images/star.png); background-size:100% 100%; margin-right: 10px; display: list-item;float: left;}
.table tbody td.star-wrap ul li.active{ background-image: url(../../assets/images/star_active.png); display: list-item;float: left;}

@media only screen and (max-width: 991px) {
	.table thead:first-child tr:first-child th{ padding-left: 20px !important; }
}

@media only screen and (max-width: 600px) {
	.filter-wrap{ position: relative; height: 110px; }
	.filter-wrap .filter-select{ position: relative; top: 11px; width: 55%; }
	.filter-wrap .filter-select .dropdown-btn{ width: 90% !important; }
	.filter-wrap>span{ position: relative; top: -39px !important; }
}

@media only screen and (max-width: 360px) {
	.table thead:first-child tr:first-child th{ padding-left: 10px !important; }
}

@media only screen and (max-width: 360px) {
	.edit-box .modal-body{ padding-left: 12px; }
}