.content-wrap{ background-color: #fff; border-top: 1px solid #ff6400; }

/*收货人信息*/
.content-wrap .content .order-wrap{ background-color: #fff; color: #4c4c4c; font-size: 12px; }

.content-wrap .content .order-wrap .consignee-info{ padding-top: 45px; }

.content-wrap .content .order-wrap .consignee-tit{ position: absolute; top: 0; width: 100%; height: 45px; }
.content-wrap .content .order-wrap .consignee-tit .btn-add-addr{ position: absolute; height: 45px; line-height: 45px; right: 16px; top: 0; }
.content-wrap .content .order-wrap .consignee-tit .btn-add-addr a{ color: #0078d6; }

.content-wrap .content .order-wrap .addr-list-wrap{ padding: 20px 16px 20px 40px; background-color: #fcfcfc; }
.content-wrap .content .order-wrap .addr-list-wrap ul li{ float: none; margin-bottom: 20px; }
.content-wrap .content .order-wrap .addr-list-wrap ul li:last-child{ margin-bottom: 0; }
.content-wrap .content .order-wrap .addr-list-wrap ul li .addr-item{ height: 30px; line-height: 30px; }
.content-wrap .content .order-wrap .addr-list-wrap ul li .addr-item .btn-radio{ margin-right: 10px; }
.content-wrap .content .order-wrap .addr-list-wrap ul li .addr-item .addr-info .addr{ margin: 0 8px; }
.content-wrap .content .order-wrap .addr-list-wrap ul li .addr-item .btn-edit a{ color: #0078d6; }

/*支付方式*/
.content-wrap .content .order-wrap .pay-info{ padding-top: 45px; }
.content-wrap .content .order-wrap .pay-info .pay-list-wrap{ padding: 20px 16px 20px 40px; background-color: #fcfcfc; }
.content-wrap .content .order-wrap .pay-info .btn-more{ height: 30px; line-height: 30px; margin-left: 5px; }

/*订单列表*/
.content-wrap .content .order-wrap .buy-info{ padding-top: 45px; }

.content-wrap .content .order-wrap .buy-info .buy-list-wrap{ background-color: #fcfcfc; }

.content-wrap .content .order-wrap .buy-info .buy-list-wrap table{ width: 100%; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr th{ padding: 12px 0 6px; color: #666; text-align: center; border-bottom: 1px solid #ababab; font-weight: normal; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr th:first-child{ padding-left: 40px; text-align: left; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr:first-child td{ padding: 12px 0 6px 40px; text-align: left; border-bottom: 1px solid #e6e6e6; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td{ border-left: none !important; border-right: none !important; padding: 18px 0; text-align: center; border-color: #fcfcfc; background: #fcfcfc; vertical-align: top; color: #666 !important; border-bottom: 1px solid #e6e6e6; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td h1{ color: #4C4C4C; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table:last-child tr:last-child td{ border-bottom: none; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td:first-child{ padding-left: 40px; width: 2px; vertical-align: inherit; }

.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td:nth-child(2){ width: 204px; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td:nth-child(3){ width: 227px; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td:nth-child(4){ width: 91px; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td:nth-child(5){ width: 228px; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td:nth-child(6){ width: 92px; }

.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td .good-info{ width: 328px; height: 80px; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td .good-info .g-img{ width: 80px; height: 80px; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td .good-info p{ margin-left: 88px; width: 240px; text-align: left; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td p.seal{ margin-top: 5px; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td p.seal span{ display: inline-block; width: 44px; height: 18px; line-height: 18px; border: 1px solid #FF6400; text-align: center; color: #ff6400; margin-right: 10px; }
.content-wrap .content .order-wrap .buy-info .buy-list-wrap table tr td p.p-cost{ color: #999; font-weight: normal; font-size: 12px; }


/*备注*/
.content-wrap .content .order-wrap .notes{ background-color: #fcfcfc; padding: 7px 30px; height: 36px; line-height: 36px; color: #4c4c4c; font-size: 14px; font-weight: bold; }
.content-wrap .content .order-wrap .notes input{ font-weight: normal; font-size: 12px; height: 34px; width: 518px; padding: 0 10px; border: 1px solid #e6e6e6; }

/*订单汇总*/
.content-wrap .content .order-wrap .total-wrap{ padding: 16px 0 0; line-height: 1; }
.content-wrap .content .order-wrap .total-wrap .total-money,.content-wrap .content .order-wrap .total-wrap .p-cost,.content-wrap .content .order-wrap .total-wrap .discount,.content-wrap .content .order-wrap .total-wrap .payable{ padding: 0 30px; }
.content-wrap .content .order-wrap .total-wrap p{ margin-bottom: 20px; }
.content-wrap .content .order-wrap .total-wrap p span{ display: inline-block; text-align: right; }
.content-wrap .content .order-wrap .total-wrap p span:last-child{ padding-left: 10px; width: 95px; }

.content-wrap .content .order-wrap .total-wrap .gather{ background-color: #fcfcfc; padding: 20px 30px; }
.content-wrap .content .order-wrap .total-wrap .gather p{ margin-bottom: 0; }
.content-wrap .content .order-wrap .total-wrap .gather p span{ width: auto; padding: 0; }
.content-wrap .content .order-wrap .total-wrap .gather .real-pay{ margin-bottom: 10px; }
.content-wrap .content .order-wrap .total-wrap .gather .bill-info span:first-child{ margin-right: 30px; }

/*结账按钮组*/
.content-wrap .content .order-wrap .check-out{ padding: 10px 0 40px; }
.content-wrap .content .order-wrap .check-out input{ width: 140px; height: 36px; color: #fff; background-color: #ff6400; border: none; font-size: 14px; font-weight: bold; cursor: pointer; }
.content-wrap .content .order-wrap .check-out a{ color: #0078d6; margin-right: 20px; }

/*板块左上角文字样式*/
.tit-tips{ position: absolute; top: 0; left: 0; width: 115px; height: 44px; line-height: 44px; color: #ff6400; font-size: 14px; text-align: center; font-weight: bold; border-bottom: 1px solid #ff6400; }

/*自定义 radio*/
.radio-wrap{ width: 144px; height: 30px; margin-right: 8px; }
.radio-wrap .radio{ opacity: 0; position: absolute; z-index: 12; width: 144px; height: 30px; cursor: pointer; }
.radio-wrap .radio-bg{ position: absolute; z-index: 11; display: block; margin: 0; width: 142px; height: 28px; line-height: 28px; border: 1px solid #e6e6e6; font-weight: normal; text-align: center; line-height: 28px; }
.radio-wrap input[checked=checked] + span.radio-bg{ display: block; width: 140px; height: 26px; line-height: 26px; border: 2px solid #ff6400; background: url(../images/icon-radio.png) right bottom no-repeat; }

/*支付方式自定义radio*/
.pay-list-wrap .radio-wrap{ width: 98px; }
.pay-list-wrap .radio-wrap .radio{ width: 98px; }
.pay-list-wrap .radio-wrap .radio-bg{ width: 96px; }
.pay-list-wrap .radio-wrap input[checked=checked] + span.radio-bg{ width: 94px; }


/*修改、新增弹窗*/
.alert-box{ position: fixed; z-index: 9999999; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); }
.alert-box .alert-dialog{ position: absolute; top: 50%; left: 50%; margin-top: -173.5px; margin-left: -283px; width: 566px; height: 347px; background: #fff; }
.alert-box .alert-dialog .alert-header{ height: 44px; background-color: #ff6400; line-height: 44px; color: #fff; }
.alert-box .alert-dialog .alert-header h1{ padding-left: 16px; }
.alert-box .alert-dialog .alert-header h1 span{ font-size: 12px; }
.alert-box .alert-dialog .alert-header .btn-close{ position: absolute; top: 16px; right: 16px; display: block; width: 12px; height: 12px; }

.alert-box .alert-dialog .alert-body{ padding: 20px 60px 0; font-size: 12px; }
.alert-box .alert-dialog .alert-body form p{ margin-bottom: 12px; }
.alert-box .alert-dialog .alert-body form p span.tit{ display: inline-block; width: 75px; }
.alert-box .alert-dialog .alert-body form p span.select{ margin-left: -6px; }
.alert-box .alert-dialog .alert-body form p span.select select{ width: 68px; height: 26px; border: 1px solid #e6e6e6; outline: none; padding-left: 6px; }
.alert-box .alert-dialog .alert-body form p input[type=text]{ width: 148px; height: 26px; border: 1px solid #e6e6e6; padding: 0 10px; }
.alert-box .alert-dialog .alert-body form p.address input[type=text]{ width: 348px; }
.alert-box .alert-dialog .alert-body form .set-addr{ line-height: 1.2; margin: 20px 0; padding-left: 75px; }
.alert-box .alert-dialog .alert-body form p.btn-submit{ padding-left: 75px; }
.alert-box .alert-dialog .alert-body form p.btn-submit input{ width: 125px; height: 36px; border: none; background-color: #ff6400; color: #fff; font-size: 14px; font-weight: bold; }
