body {
	background: #fafafa;
	overflow: hidden;
}

.forget_password_titer {
	position: relative;
	height: 110px;
	width: 100%;
	background: #ff6400;
}

.forget_password_titer h2 {
	line-height: 150px;
	font-family: "宋体";
	margin-top: 0!important;
	padding-left: 220px;
	color: white;
}

.forget_password_mar {
	position: relative;
	width: 800px;
	height: 110px;
	margin: 0 auto;
}

.find_pd {
	width: 800px;
	height: 650px;
	margin:0 auto; 
}


.forget_password_main {
	width: 800px;
	height: 1000px;
	margin:0 auto;
}

.forget_password_titer {
	position: relative;
	height: 110px;
	width:100%;
}

.forget_password_titer img {
	position: absolute;
	top: 20px;
	left: 40px;
}

.forget_password_titer h4 {
	text-align: center;
	line-height: 120px;
	font-family: "宋体";
}

 .user_phone,.user_password {
 	position: relative;
 	margin: 15px 40px 11px 37px;
 	border: 1px solid #ddd;
 	background: #fff;
 }

 .user_yzm {
 	position: relative;
 	margin:20px 271px 11px 37px;
 	border:1px solid #ddd;
 	background: #fff;
 }

 .user_yzm1 {
 	width: 200px;
 	height: 40px;
 	border:0px solid #d5d5d5!important;
 	background: #fff;
 	float: right;
 	margin:-52px 40px 0 -60px;
 	text-align: center;
 	line-height: 40px;
 }

 .user_yzm1 input {
	width: 200px;
	height: 40px;
	background: #fff;
	border: 1px solid #ddd;
	color: #ff6400;
 }


 .getYzm {
	display: block;
 	color: #ff6400; 
 }

 .getYzm:hover {
 	text-decoration: none;
 	color: #ff6400;
 }


 .ico_user {
 	display: block;
 	position: absolute;
 	top: 5px;
 	left: 5px;
 	width: 20px;
 	height: 20px;
 	z-index: 4;
 }

 .user_inp,.password_inp {
 	width: 100%;
 	height:40px;	
 	background: #fff;
 	color: #333;
 	overflow: hidden;
 	border: 0;
 	padding-left:40px!important;
 	border:0px solid #d5d5d5!important; 
 }

 .yzm_inp {
 	width: 490px;
 	height:40px;	
 	background: #fff;
 	color: #333;
 	overflow: hidden;
 	border: 0;
 	padding-left:40px!important;
 	border:0px solid #d5d5d5!important; 
 }

.user_inp:focus{
 	border:1px solid #ff6400!important;
 } 

 .password_inp:focus{
 	border:1px solid #ff6400!important;
 }

 .yzm_inp:focus {
 	border: 1px solid #ff6400!important;
 }

 .fw_submit {
 	margin-top:65px;
 }

 .fw_password_p {
 	width: 90.3%;
 	height: 40px;
 	margin:0 auto;
 	font-size: 12px;
 	color:white;
 	background: #ff6400;
 	text-align: center;
 	line-height: 40px;
 }

 .fw_password {
 	display: block;
 	color: white;
 }

 .fw_password:focus{
 	color:white;
 	text-decoration: none;
 }


 .fw_password:hover {
 	color: white;
 	text-decoration: none;
 	background: #ea5507;
 }

.wd_linker {
	padding:20px 0; 
}

.wd_linker li a{
	color: #4c4c4c;
	padding:0 40px; 
}


/* 输入框字体大小 */
input::-webkit-input-placeholder {
	font-size: 12px;
	/* padding-left: 12px; */
}

input::-moz-input-placeholder {
	font-size: 12px;
/*	padding-left: 12px;*/
}

input::-ms-input-placeholder {
	font-size: 12px;
	/*padding-left: 12px;*/
}

input[type="password"] {
	font-size: 12px;
}