.btn-default .caret {
    width:0;
    height:0;
    border-width:5px 5px 0;
    border-style:solid;
    border-color:#333 transparent transparent;/*灰 透明 透明 */
    margin:40px auto;
    position:relative;
}
