html { min-height: 100%; position: relative }
body{ min-height: 100%; background-color: #fff; }

a{ color: #666; display: inline-block; /*height: 100%;*/ }

a:hover{ color: #FF6400; }

button,input{ -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; }

ul li{ float: left; }

/*标题字体大小*/
h1{ font-size: 14px; }

/*字体*/
.fw{ font-weight: bold; }

.f-12{ font-size: 12px; }
.f-14{ font-size: 14px; }
.f-16{ font-size: 16px; }
.f-22{ font-size: 22px; }

.t-d{ text-decoration: line-through; }


/*主页面宽度*/
.pw{ width: 1210px; }

/*居中*/
.ma{ margin: 0 auto; }

/*清除浮动*/
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix{ *+height:1%; }

/*浮左*/
.fl{ float: left; }

/*浮右*/
.fr{ float: right; }

/*隐藏*/
.hide{ display: none; }

/*icon*/
.icon{ display: inline-block; position: relative; top: 2px; }

/*相对定位*/
.pr{ position: relative; }

/*居中*/
.center{ position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; }

/*选中*/
.active{ color: #ff6400 !important; }

/*下外边距*/
.mb-0{ margin-bottom: 0 !important; }
.mb-5{ margin-bottom:5px; }
.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }
.mb-60{ margin-bottom: 60px; }

/*内边距*/
.pt-30{ padding-top: 30px !important; }

/*底色*/
.bg-2f{ background-color: #e8fbf1; }
.bg-3f{ background-color: #fdeefb; }
.bg-4f{ background-color: #d9f5fc; }

/*字体颜色*/
.orange{ color: #ff6400; }
.f-99{ color: #999; }

/*行高*/
.l-14{ line-height: 1.4; }

/*自定义 checkbox*/
.check-wrap{ width: 14px; height: 14px; margin-right: 8px; }
.check-wrap .chk{ opacity: 0; position: absolute; z-index: 12; width: 14px; height: 14px; cursor: pointer; }
.check-wrap .chk-bg{ position: absolute; z-index: 11; display: inline-block; margin: 0; width: 14px; height: 14px; font-weight: normal; }
.check-wrap .chk-bg::before{ content: ""; display: block; height: 14px; width: 14px; background: url(../images/default.png); }

.check-wrap input[checked=checked] + span.chk-bg:before{ content: ""; display: block; height: 14px; width: 14px; background: url(../images/checked.png); }

.header{position: fixed;top: 0px;width: 100%;z-index: 9999;background-color: #fff;}
/*商品分类小箭头*/
.header span.dr{ position: absolute; width: 12px; height: 6px; background: url(../images/detail/icon-dr.png) no-repeat; margin: auto; top: 0; bottom: 0; right: 20px; }


/*提示框*/
.error-tip{
	position:fixed;
	width:350px;
	top:40%;
	bottom:70%;
	height:30px;
	z-index:100000000;
	text-align: center;
	display:none;
	left:38%;
}
.error-tip div{
	width:300px;
	margin:auto;
	border-radius: 0.5em;
	background-color: #cccccc;
	color:#000000;
	padding:5px;
	font-size:16px;
}

/*loading*/
.mask {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.35);
    position: absolute;
    z-index: 9;
}
.loading {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    box-shadow: 0 -10px 0 1px currentColor, 10px 0px currentColor, 0 10px currentColor, -10px 0 currentColor, -7px -7px 0 .5px currentColor, 7px -7px 0 1.5px currentColor, 7px 7px currentColor, -7px 7px currentColor;
    -webkit-animation: spin 1s steps(8) infinite;
    animation: spin 1s steps(8) infinite;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/*条件过滤选中*/
.filter-selected{
	background-color:#FF6400;
}

.no-hand{cursor: default;}
.no-hand:hover{color: #666;}

/*成功加入购物车*/
.add-cart-success{ position: absolute; margin: auto; top: -75px; left: 0; bottom: 0; right: 0; z-index: 99999; width: 150px; height: 34px; background: rgba(255,255,255); background: rgba(255,255,255,0.9); }
.add-cart-success p{ height: 20px; line-height: 20px; padding: 7px 0 0 20px; }

/*置顶按钮样式*/
.to-top{ position: fixed; bottom: 228px; display: none; }
.to-top a{ position: relative; display: block; width: 36px; height: 36px; background-color: #ccc; }
.to-top a img{ position: absolute; margin: auto; top: 0; right: 0; left: 0; bottom: 0; }

.goods-list-name{height: 24px;overflow: hidden;}

#loading-whole{
	width:100%;
	height:100%;
	background-color:#eee;
	opacity:0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}
.loader-inner{
	width: 78px;
	height: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -39px;
	z-index:99999999;
}
.ball-pulse > div:nth-child(0) {
	-webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
       		animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08); 
}
.ball-pulse > div:nth-child(1) {
	-webkit-animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
       		animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08); 
}
.ball-pulse > div:nth-child(2) {
	-webkit-animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
       		animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08); 
}
.ball-pulse > div:nth-child(3) {
	-webkit-animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    		animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
}
.ball-pulse > div {
	background-color: #ff6400;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
	display: inline-block; 
	}
@keyframes scale {
	30% {
		-webkit-transform: scale(0.3);
				transform: scale(0.3); 
	}
	100% {
		-webkit-transform: scale(1);
				transform: scale(1); 
	}
}
.content-wrap,.indexPage{margin-top:187px !important;}

.dis-cart{ display: block; width: 80px; height: 24px; line-height: 24px; background-color: #eee; color: #fff; text-align: center; }>>>>>>> .r2774
